.gamecard {
  background: var(--primary);
  margin-bottom: 2rem;
  padding: 2rem;
  gap: 2rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  >div {
    &:last-of-type {
      order: 1;
      align-self: end;
      @include respond-to(small) {
        order: 2;
        align-self: center;
      }
    }
    &:first-of-type {
      order: 2;

      @include respond-to(small) {
        order: 1;
      }
    }
  }

  @include respond-to(small) {
    flex-direction: row;
    align-items: center;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 1.2;
  }
  &__desc {
    color: var(--text);
    line-height: 1.3;
    font-size: 1.3rem;
  }
  &__date {
    color: var(--text);
    margin-bottom: 1rem;
    display: block;
    font-size: 1.3rem;
  }
  &__index {
    display: block;
    width: 3.5rem;
    font-size: 1.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    background: var(--button);
  }
}